.postsFixedArea {
  display: block;
  width: 100%;
  height: 100%;
}

.postsScroll {
  display: flex;
  flex-direction: column;
  /* justify-items: center; */
  align-content: flex-start;

  max-width: 1120px;
  margin: 0 auto;

  gap: 16px;

  height: calc(100vh - var(--header-height) - var(--searchCompArea-height));

  overflow-y: auto;
}

.postsScroll::-webkit-scrollbar {
  width: 0px;
}
