.App {
  margin: 0px;
  background: linear-gradient(16deg, #14072e 0%, #0a081e 100%);

  overflow: hidden;
}

.contentArea {
  width: calc(100% - 40px);

  overflow-y: hidden;

  padding: 0 20px;
}

.postsBigBebra {
  height: 500px;
}
