@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --header-height: 94px;
  --searchCompArea-height: 88px;
  --searchBar-height: 48px;
  --contentArea-gap: 32px;
  --searchCompArea-margin-top: 20px;
  --light-main-color: #263238;
}
